{{!-- Partials Formulaire de Contact - Page Presentation --}}

 <!-- Manipulation Formulaire de Contact -->
    <section id="Contactez-nous" class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="paragraphe-formulaire text-center">
                    <h2 class="or">Contactez-nous</h2>
                    <p class="police-italic mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                        commodo
                        ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis,Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis,Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="phone mt-5 text-center">
                    <p><i class="fas fa-phone text-success btn-1"></i><u>Téléphone : <br /><br /></u> 06.61.53.87.21</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="adress mt-5 text-center">
                    <p><i class="fas fa-map-marker-alt text-success btn-2"></i><u>Adresse : <br /><br /></u> Place de la
                        République 72000 Le Mans</p>
                </div>
            </div>
        </div>


        <!-- Formulaire de Contact pour le Client (Nom + Email) -->
        <form class="row">
            <div class="col-md-6">
                <div class="contact-form input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Nom</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="col-md-6">
                <div class="contact-form input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" placeholder="Ajouter un email" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
            </div>

            <!-- Service Client -->
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <span class="input-group-text" id="addon-wrapping">Selectionner le service</span>
                <select>
                    <option>Service client</option>
                    <option>Service Comptable</option>
                    <option>SAV</option>
                </select>
            </div>

            <!-- Message du Client -->
            <div class="col-md-12">
                <div class="contact-form mb-4 mt-4">
                    <label>Votre message: </label>
                    <textarea id="message" rows="10" class="w-100" class="contact-message"></textarea>
                </div>
            </div>

            <!-- Envoyer Button -->
            <div class="col-md-12">
                <div class="contact-form text-center mb-5">
                    <button class="btn-or-2">Envoyer</button>
                </div>
            </div>

        </form>
    </section>
