{{!-- Partials Formulaire de Contact - Page Presentation --}}

<!-- Manipulation Formulaire de Contact -->
<section id="Contactez-nous" class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="paragraphe-formulaire text-center">
                <h2 class="or">Contactez-nous</h2>
                <p class="police-italic mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo
                    ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec,
                    pellentesque eu, pretium quis,Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec,
                    pellentesque eu, pretium quis,Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="phone mt-5 text-center">
                <p><i class="fas fa-phone text-success btn-1"></i><u>Téléphone : <br /><br /></u> 06.61.53.87.21</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="adress mt-5 text-center">
                <p><i class="fas fa-map-marker-alt text-success btn-2"></i><u>Adresse : <br /><br /></u> Place de la
                    République 72000 Le Mans</p>
            </div>
        </div>
    </div>


    <!-- Formulaire de Contact pour le Client (Nom + Email) -->

    <!-- (ATTENTION TERMINAL Error: ER_OPERAND_COLUMNS: Operand should contain 1 column(s)
    veut dire qu'il faut vérifier le "NAME" dans le formulaire -->

    {{!-- Methode POST --}}
    <form action="/form-messagepresentation" method="POST" class="row">
        {{!-- Methode POST --}}
        <div class="col-md-6">
            <div class="contact-form input-group flex-nowrap mt-3">
                <span class="input-group-text" id="addon-wrapping">Nom</span>
                {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
                <input type="text" name="nom" class="form-control" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
        </div>

        <div class="col-md-6">
            <div class="contact-form input-group flex-nowrap mt-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
                <input type="text" name="email" class="form-control" placeholder="Ajouter un email"
                    aria-label="Username" aria-describedby="addon-wrapping">
            </div>
        </div>

        {{!--

        <!-- Service Client -->
        <div class="col-md-12 d-flex justify-content-center mt-3">
            <span class="input-group-text" id="addon-wrapping">Recommandation Client</span>
            <select>
                <option>Entreprise</option>
                <option>Produit Ballon</option>
                <option>Problème Connexion</option>
            </select>
        </div>
        
        --}}
    
        <!-- Date du Message -->
        <div class="col-md-12 d-flex justify-content-center mt-3">
            <span class="input-group-text" id="addon-wrapping">Date</span>
            {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
            <input type="date" name="date" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
        </div>

        <!-- Date du Message -->
        <div class="col-md-12 d-flex justify-content-center mt-3">
            <span class="input-group-text" id="addon-wrapping">Sujet</span>
            {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
            <input type="text" name="sujet" class="form-control" aria-label="Username"
                aria-describedby="addon-wrapping">
        </div>

        <!-- Message du Client -->
        <div class="col-md-12">
            <div class="contact-form mb-4 mt-4">
                <label>Votre message: </label>
                {{!-- Ne pas oublier d'écrire le "name" dans le textarea en rapport avec la methode POST --}}
                <textarea id="message" name="message" rows="10" class="w-100" class="contact-message"></textarea>
            </div>
        </div>

        <!-- Envoyer Button -->
        <div class="col-md-12">
            <div class="contact-form text-center mb-5">
                {{!-- Methode POST : Ne pas oublier d'écrire le type SUBMIT qui est un bouton d'envoi qui soumet toutes
                les valeurs du formulaire lors de l'envoi à un gestionnaire de formulaire (Server) validant la balise
                ouvrante fermante "form" --}}
                <button type="submit" class="btn-or-2">Envoyer</button>
            </div>
        </div>

    </form>
</section>