{{!-- Partials Famille de Ballon --}}


<!-- Manipulation Section Famille de Ballon  -->
<section id="Vitrine" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Vitrine</h2>
        </div>
    </div>

    <!-- bootstrap class mt-4 = class margin top 4 = margin haut de niveau 4 -->
    <!-- bootstrap class mt-5 = class margin top 5 = margin haut de niveau 5 -->
    <div class="row ">
        <div class="col-md-4">
            <div class="vente-details bdr-r-dark">
                <img class="w-auto" height="235px" src="/assets/images/BallonL1.jpg">
                <h4 class="soccer-ligue1 mt-4"> Ballon - Ligue 1</h4>
            </div>
        </div>

        <div class="col-md-4">
            <div class="vente-details bdr-r-dark">
                <img class="w-auto" height="235px" src="/assets/images/BallonL2.jpg">
                <h4 class="soccer-ligue2 mt-4">Ballon - Ligue 2</h4>
            </div>
        </div>

        <div class="col-md-4">
            <div class="vente-details">
                <img class="w-auto" height="235px" src="/assets/images/BallonLDC.jpg">
                <h4 class="soccer-ldc mt-4">Ballon - Ligue des champions</h4>
            </div>
        </div>
    </div>

</section>