{{!-- Partials Banner - Page Home --}}


<!-- Manipulation Bannière Poudre Or -->
<div class="bannière bdr-b-dark">
    <img src="/assets/images/Bannière4.jpg" class="w-100" alt="ma super bannière à taille variable" />
</div>
