{{!-- Partials Header --}}

<section class="header bdr-b-dark">
    <!-- Manipulation du Header -->
    <div class="container">
        <div class="row">
            <!-- class w-auto dimensionnement opère une découpe sur la hauteur et la largeur de l'image haider 
            afin que les barres de défilements disparaissent -->
            <div class="col-md-12 home-title w-auto">
                <h1>Elite S Compagny</h1>
            </div>
        </div>
    </div>
</section>
