{{!-- Partials Header --}}

<section class="header bdr-b-dark">
    <!-- Manipulation du Header -->
    <div class="container">
        <div class="row">
        
            <div class="col-md-12 home-title w-auto">
                <h1>Elite S Compagny</h1>
            </div>
            
        </div>
    </div>
</section>
