{{!-- Partials SearchBar --}}

<!-- Manipulation Section Barre de Recherche -->

<div class="search-box d-flex align-items-center">
    <input class="search-txt" type="text" name="" placeholder="Barre de Recherche">
    <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
    </a>
</div>