{{!-- Partials Banner - Page Presentation --}}

<!-- Manipulation de la Bannière -->

    <div class="bannière">
        <img src="/assets/images/Bannière-Portugal.png" class="w-100" height="360px" alt="ma bannière" />
    </div>