
{{!-- Partials Presentation + Photo - Page Presentation --}}
    
    <!-- Manipulation Présentation + Photo -->
    <section class="top-8vh">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4 col-sm-12">
                    <div class="steven text-center mb-3 mt-3">
                        <img src="/assets/images/steven.JPG" class="w-30 bdr-radius" width="100%" alt="photo-de-steven" />
                    </div>
                </div>
                <div class="col-md-6 col-xl-8 col-sm-12">
                    <div class="steven-1 text-center">
                        <h2 class="titre-presentation mb-4">Steven DOS SANTOS PINTO</h2>
                        <p class="text-presentation">Quantitati fictis exaggerantium vel inminuta pendere terrarum vita
                            incidentia asperitati terrarum proximorum
                            si filo proximorum proximorum velut exclamabant a ubi principis vocibus si dolere dolere
                            velut quantitati et vel
                            a inminuta amplitudo quantitati velut orbis enim dolere velut cuius cuius exclamabant et
                            simulantium salute inminuta
                            cuius cuius inminuta enim proximorum a laesa vita enim iracundae iracundae ubi inminuta enim
                            cruentae orbis enim cuius
                            statum pendere laesa cruentae amplitudo amplitudo imperii fictis simulantium principis si
                            imperii enim vel vocibus a
                            amplitudo orbis orbis vita dicebatur terrarum suspicionum eius ubi filo incidentia salute
                            incidentia ubi inminuta eius
                            vel laesa dolere dolere amplitudo. Quantitati fictis exaggerantium vel inminuta pendere
                            terrarum vita incidentia asperitati terrarum proximorum
                            si filo proximorum proximorum velut exclamabant a ubi principis vocibus si dolere dolere
                            velut quantitati et vel
                            a inminuta amplitudo quantitati velut orbis enim dolere velut cuius cuius exclamabant et
                            simulantium salute inminuta
                            cuius cuius inminuta enim proximorum a laesa vita enim iracundae iracundae ubi inminuta enim
                            cruentae orbis enim cuius
                            statum pendere laesa cruentae amplitudo amplitudo imperii fictis simulantium principis si
                            imperii enim vel vocibus a
                            amplitudo orbis orbis vita dicebatur terrarum suspicionum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
