{{!-- Partials Enregistrer - Page Registrer --}}

<!-- Manipulation de la page Register -->

<div class="jaune-or">
    <div class="login-box register-box text-center">
        <h3>Register</h3>
        <form>
            <div class="user-box">
                <input type="text" id="pseudo">
                <label for="pseudo">Pseudo</label>
            </div>
            <div class="user-box">
                <input type="adresse" id="adresse">
                <label for="adresse">Adresse</label>
            </div>
            <div class="user-box">
                <input type="date de naissance" id="date de naissance">
                <label for="date de naissance">Date de Naissance</label>
            </div>
            <div class="user-box">
                <input type="telephone" id="telephone">
                <label for="telephone">Telephone</label>
            </div>
            <div class="user-box">
                <input type="email" id="email">
                <label for="email">Email</label>
            </div>
            <div class="user-box">
                <input type="mot de passe" id="mot de passe">
                <label for="mot de passe">Mot de Passe</label>
            </div>
            <button class="neon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                inscription
            </button>
        </form>
    </div>
</div>