{{!-- Partials Ajout de Commentaires Clients --}}

<!-- Manipulation Ajouter un Commentaire -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bordure pt-5">
                    <h5 class="titre-neon-special encadrer text-center mb-2 pb-3">Ajouter un commentaire
                    </h5>
                    <div class="row d-flex justify-content-center pb-3">
                        <div class="col-md-6">
                            <div class="input-group flex-nowrap mt-3">
                                <span class="input-group-text" id="addon-wrapping">Pseudo</span>
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="addon-wrapping">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="input-group flex-nowrap mt-3">
                                <span class="input-group-text" id="addon-wrapping">Date</span>
                                <input type="text" class="form-control" placeholder="Ajouter une date"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-11">
                            <label class="text-white pt-4 pb-2 pr-5">Votre message: </label>
                        </div>
                        <div class="d-flex justify-content-center mb-5">
                            <textarea id="message" rows="9" class="contact-message-2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="contact-form text-center mt-3 mb-5">
                <button class="btn-or-3">Envoyer</button>
            </div>
        </div>
    </div>
</section>