{{!-- Partials Ajout de Commentaires Clients --}}

<!-- Manipulation Ajouter un Commentaire -->



{{!-- Ouverture de la condition avec le croisillon # et Fermeture de la Condition Footer avec le slash / --}}
{{!-- CONDITION : Si (if) l'Utilisation à une session ce dernier pourra ajouter un Commentaire, sinon (else) n'aura pas accès à l'ajout de Commentaire qui sera alors effacé --}}

{{#if user }}
{{!-- Methode POST --}}
<form action="/addcomment" method="POST">
{{!-- Methode POST --}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bordure pt-5">
                    <h5 class="titre-neon-special encadrer text-center mb-2 pb-3 fs-5">Ajouter un commentaire
                    </h5>
                    <div class="row d-flex justify-content-center pb-3">
                        <div class="col-md-11">
                            <div class="input-group flex-nowrap mt-3">
                                {{!-- <span class="input-group-text" id="addon-wrapping">Author_id</span> --}}
                                {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
                                <input type="hidden" name="author_id" class="form-control" aria-label="Username"
                                    aria-describedby="addon-wrapping" value="{{ user.id }}">
                            </div>
                        </div>

                        <div class="col-11">
                            <label class="text-white pt-4 pb-2 pr-5">Votre message: </label>
                        </div>
                        <div class="d-flex justify-content-center mb-5">
                            {{!-- Ne pas oublier d'écrire le "name" dans le textarea en rapport avec la methode POST --}}
                            <textarea id="message" name="content" rows="9" class="contact-message-2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type='hidden' name="refId" value='{{ ballon.id }}'>

        <div class="col-md-12">
            <div class="contact-form text-center mt-3 mb-5">
                 {{!-- Methode POST : Ne pas oublier d'écrire le type SUBMIT qui est un bouton d'envoi qui soumet toutes les valeurs du formulaire lors de l'envoi à un gestionnaire de formulaire (Server) validant la balise ouvrante fermante "form" --}}
                <button type="submit" class="btn-or-3">Envoyer</button>
            </div>
        </div>
    </div>
</form>

{{!-- Fermeture de la Condition du noCommentaire avec le slash / --}}
 {{/if }}