{{!-- Partials Connexion - Page Login + Modal Login --}}

<!-- Manipulation de la page Login -->
<div class="jaune-or">
    <div class="login-box text-center">
        <h3>Login</h3>
        {{!-- Methode POST --}}
        <form action="/connexion" method="POST">
            {{!-- Methode POST --}}
            <div class="user-box">
                {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
                <input type="text" name="pseudo" id="pseudo">
                <label for="pseudo">Pseudo</label>
            </div>

            <div class="user-box">
                {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
                <input type="password" name="mot_de_passe" id="motdepasse" />
                <button type="button" id="btnViewPassword"><i class="fas fa-eye"></i></button>
                <label for="motdepasse">Mot de Passe</label>
            </div>

            <div class="user-box">
                <a href="#modalLostPassword" data-bs-toggle="modal" role="button">mot de passe oublié</a>
            </div>

            {{!-- Methode POST : Ne pas oublier le type SUBMIT qui est un bouton d'envoi qui soumet toutes les valeurs
            du formulaire lors de l'envoi à un gestionnaire de formulaire (Server) validant la balise ouvrante fermante
            "form" --}}
            <button type="submit" class="neon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                connexion
            </button>
        </form>
    </div>
</div>

<!-- Manipulation Modal Mot de Passe Oublié -->

<div class="modal fade" id="modalLostPassword" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Mot de Passe Oublié</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>

            {{!-- Methode POST --}}
            <form action="/forget" method="POST">
                {{!-- Methode POST --}}
                <div class="modal-body">
                    <div class="contact-form input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode POST --}}
                        <input type="text" name="email" class="form-control" placeholder="Taper votre email"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="modal-header pb-1 text-center">
                        <p>Si votre email est dans la base de donné, vous allez recevoir un email de confirmation avec
                            votre mot de passe</p>
                    </div>
                    <div class="pt-4 d-flex justify-content-center">
                        {{!-- Methode POST : Ne pas oublier le type SUBMIT qui est un bouton d'envoi qui soumet toutes
                        les valeurs du formulaire lors de l'envoi à un gestionnaire de formulaire (Server) validant la
                        balise ouvrante fermante "form" --}}
                        <button type="submit" class="btn-or">Envoyer</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>
    const inputPassword = document.getElementById('motdepasse')
    const btnViewPassword = document.getElementById('btnViewPassword')

    btnViewPassword.addEventListener('click', () => {
        console.log('Mon Button', inputPassword.getAttribute('type'))
        if (inputPassword.getAttribute('type') === 'password') inputPassword.setAttribute('type', 'text')
        else inputPassword.setAttribute('type', 'password')
    })
</script>