<!-- Manipulation Bouton Admin Ajouter Nouvel Article -->

<section>
    <div class="col-md-12">
        <div class="contact-form text-center mt-3 mb-5">
            <!-- Bouton Open Modal Ajouter Validation Article -->
            <button type="button" class="btn-admin" data-bs-toggle="modal" data-bs-target="#modalAjouterArticle"
                data-bs-whatever="@mdo">
                Ajouter Article</button>

            <!-- Ajout début du Modal Ajouter Validation de l'Article dans le bouton Success -->
            <div class="modal fade" id="modalAjouterArticle" tabindex="-1" aria-labelledby="labelModalAjouterArticle"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Ajouter "Article"</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            {{!-- Methode POST Formulaire Modal Création Article + Upload Image dans la balise form --}}
                            <form action="/UploadArticle" enctype="multipart/form-data" method="POST">
                             {{!-- Attention on ne peut pas mettre une balise ouvrante et fermante form dans une balise ouvrante et fermante form  --}}

                                <div class="col-md-12">
                                    <label for="recipient-name"
                                        class="col-form-label d-flex justify-content-start">Title :</label>
                                    {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la
                                    methode POST --}}
                                    <input type="text" name="title" class="form-control" placeholder=""
                                        id="recipient-name">
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="message-text" class="col-form-label d-flex justify-content-start">Image
                                        :</label>
                                    <input type="file" class="form-control-file" name="imgArticle">
                                    {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la
                                    methode POST --}}
                                </div>

                                <div class="col-md-12">
                                    <label for="recipient-name"
                                        class="col-form-label d-flex justify-content-start">Subdescription :</label>
                                    {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode
                                    POST --}}
                                    <input type="text" name="subdescription" class="form-control" placeholder=""
                                        id="recipient-name">
                                </div>

                                <div class="col-md-12">
                                    <label for="recipient-name"
                                        class="col-form-label d-flex justify-content-start">Description</label>
                                    {{!-- Ne pas oublier d'écrire le "name" dans le textarea en rapport avec la methode
                                    POST --}}
                                    <textarea id="message" type="text" rows="5" placeholder="" name="description"
                                        class="contact-message"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label for="recipient-name" class="col-form-label"></label>
                                    {{!-- Ne pas oublier d'écrire le "name" dans le textarea en rapport avec la methode
                                    POST --}}
                                    <textarea id="message" rows="5" placeholder="Recommandation" name="recommandation"
                                        class="contact-message"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label for="recipient-name"
                                        class="col-form-label d-flex justify-content-start">Author_id :</label>
                                    {{!-- Ne pas oublier d'écrire le "name" dans les input en rapport avec la methode
                                    POST --}}
                                    <input type="text" name="author_id" class="form-control" placeholder=""
                                        id="recipient-name" value="{{ user.id }}">
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="contact-form text-center mb-5">
                                        {{!-- Methode POST : Ne pas oublier le type SUBMIT qui est un bouton d'envoi qui
                                        soumet toutes les valeurs du formulaire lors de l'envoi à un gestionnaire de
                                        formulaire (Server) validant la balise ouvrante fermante "form" --}}
                                        <button type="submit" class="btn-or mt-3">Validation</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>